# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objetives**
* List popular languages for Data Science
* List some of the commonly libraries used by Data Scientists
* Know some Data Science Tools
* Exemplify some arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. SqL
2. PYTHON
3. JAVA

### Some of the commonly used libraries used by Data Scientists include:
* Gally
* Scikit-learn
* Pandas
* Numpy

# Data Science Tools
|Data Science Tools|
|-------------|
|APACHE SPARK|
|APACHE HADOOP|
|TENSOR FLOW|

### Below are a few examples of evaluating arithmetic expressions in Python.

### This a simple arithmetic expression to mutiply then add integer

In [3]:

(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
### Diana Cristina Rojas Roman√≠